body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ddd;
}

/* LAYOUT */
.App {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}
#calculator {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#display {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#add {
  grid-row: span 2;
}
#equals {
  grid-row: span 2;
}
#zero {
  grid-column: span 2;
}

/* Spacing, color, etc */
.App {
  padding: 3em;
}
#calculator {
  background: #555;
  border: 10px solid black;
  border-radius: 20px;
  grid-gap: 3em;
  padding: 3em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#display {
  border: 5px solid #ccc;
  border-radius: 10px;
  background: black;
  color: lime;
  font-size: 2em;
}
button {
  border-radius: 8px;
  background: #888;
  color: whitesmoke;
  font-size: 3em;
}

/* Mobile */
@media (max-width: 750px) {
  .App {
    padding: 1.5em;
  }
  #calculator {
    grid-gap: 1.5em;
    padding: 1.5em;
  }
}
